p{
	font-family: 'Josefin Slab', serif;

	font-size: 20px;
	padding-top: 15px;
	padding-right: 125px;
	padding-left: 125px;


}
h1{
	font-family: 'Comfortaa', cursive;
	padding-top: 15px;
}
.left{
	background-color: white; 

}
.right{
	background-color: white; 
}
.second{
	padding-top: 70px;
	
}
.first{
	padding-top: 50px;
	height: 700px;

	
}
.сhapter{
	padding-bottom:300px;
	padding-top: 200px
}

.text{
	height: 745px
}