<div class="container first">
	<div class = 'col-md-12 '>
	<h1 class="text-center сhapter" >Будинок мрій 
		<h4>зі шлангбауменівмн</h4>
	</h1>
		<div class="col-md-12 left" [@scrollLeft]="state">
			<div class="col-md-6 first card">
				<h1 class = 'text-center card-header'>Спостереження </h1>
				<p class="text-center text-muted card-block">
				В рамках договору з охоронною компанією, передбачена установка камер спостереження у дворі нашого будинку. Станом на 25 червня встановлені камери на в'їзд і перед дитячим майданчиком. Кількість камер буде поступово збільшуватися. Доступ до камер може отримати будь-який член ОСББ.
				</p>
			</div>
			<div class="col-md-6 first ">
				<h1 class  = 'card-image'><img src="assets/images/security.jpg"></h1>
			</div>
		</div>
		<div class = 'col-md-12 second ' [@scrollRight]="toggle">
<div class="col-md-6 right ">
	<h1><img src="assets/images/shlag.jpg"></h1>
</div>
		<div class = 'col-md-6 right text'>
				<h1 class="text-center">Шлагбауми</h1>
					<p class=" text-muted text-center">
							В рамках договору з охоронною компанією, передбачена установка камер спостереження у дворі нашого будинку. Станом на 25 червня встановлені камери на в'їзд і перед дитячим майданчиком. Кількість камер буде поступово збільшуватися. Доступ до камер може отримати будь-який член ОСББ.
					</p>
		</div>
		</div>
	</div>
</div>